{% extends 'base.html.twig' %}

{% block title %}Attendance{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/attendance-style.css')}}">
{% endblock %}

{% block body %}
        {% include 'header.html.twig' %}

    <div class="heading">
        <h4>ATTENDANCE</h4>
    </div>

    <div class="border-table">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr class="align-middle">
                    <th scope="col">Index</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Event Name</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>
                    <th scope="col">Score</th>
                </tr>
                </thead>
                <tbody class="table-striped">
                <tr class="align-middle">
                    <th scope="row">1</th>
                    <td>Đặng Minh Đạt</td>
                    <td>15-10-2023</td>
                    <td>Hung King Memorial - A spiritual return</td>
                    <td>14:00</td>
                    <td>17:00</td>
                    <td>7</td>
                </tr>
                <tr class="align-middle">
                    <th scope="row">2</th>
                    <td>Đặng Minh Đạt</td>
                    <td>17-11-2023</td>
                    <td>Road to Roadmap</td>
                    <td>18:00</td>
                    <td>20:00</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td colspan="6">Total Score</td>
                    <td>17</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

            {% include 'footer.html.twig' %}
            
{% endblock %}

