{% extends 'base.html.twig' %}

{% block title %}Add Members{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/checking-members-style.css')}}">
{% endblock %}

{% block body %}
        {% include 'header.html.twig' %}

    <div class="title">
        CHECK MEMBER
    </div>
    <div class="box">
        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
            <form action="/checkMember" method="GET">
            {# {{ form_start(form) }} #}
                <div class="formbold-input-flex">
                    <div>
                        <label for="firstname" class="formbold-form-label"> Member ID: </label>
                        <input type="text" name="memberId" id="" placeholder="Ex: GCC210147" class="formbold-form-input"/>
                        {# {{ form_widget(form, {'attr':{'class':'formbold-form-input'} }) }} #}
                    </div>
                        {{error ?? ""}}
                    <div>
                        <label for="" class="formbold-form-label"> Club Name: </label>
                        <select type="" name="clubName" id="" placeholder="Ex: English Speaking"class="formbold-form-input">
                        <option value="GC101">English Speaking</option>
                        <option value="GC103">Book</option>
                        <option value="GC102">Media</option>
                        <option value="GC110">IT</option>
                        </select>
                    </div>
                </div>
  
                <button class="formbold-btn">
                    Submit
                </button>
            </form>
            </div>
        </div>
    </div>

        {% include 'footer.html.twig' %}
{% endblock %}
