{% extends 'base.html.twig' %}

{% block title %}Add Members{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/checking-members-style.css')}}">
{% endblock %}

{% block body %}
        {% include 'header.html.twig' %}

    <div class="big_title">
        CHECK MEMBER
    </div>
    <div class="box">
        <div class="formbold-main-wrapper">
            <div class="formbold-form-wrapper">
            <form action="" method="GET">
            {# {{ form_start(form) }} #}
                <div class="formbold-input-flex-1">
                    <div>
                        <label for="firstname" class="formbold-form-label"> Student ID: </label>
                        <input type="text" name="memberId" id="" placeholder="Ex: GCC210147" class="formbold-form-input"/>
                        {# {{ form_widget(form, {'attr':{'class':'formbold-form-input'} }) }} #}
                    </div>
                        
                </div>
                   <div style="color:red; text-align:center"> {{error ?? ""}} </div>
                <button class="formbold-btn">
                    Submit
                </button>
            </form>
            </div>
        </div>
    </div>

        {% include 'footer.html.twig' %}
{% endblock %}
