{% extends 'base.html.twig' %}

{% block title %}Check-in{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/check-in-style.css')}}">
{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="heading">
        <h4>CHECK-IN ACTIVITIES</h4>
    </div>
    <div class="formbold-main-wrapper">
        <div class="formbold-form-wrapper">
            <form action="" method="POST">
            {# {{ form_start(formname, {'attr':{'action':''}, {'method':'POST'} }) }} #}
                <div class="formbold-input-flex">
                <div>
                    <label for="firstname" class="formbold-form-label"> Member ID: </label>
                    <input type="text" name="" id="" placeholder="Ex: GCC210147" class="formbold-form-input"/>
                    {# {{ form_widget(formname, {'attr':{'type':'text'}, {'class':'formbold-form-input'}, {'id':''}, {'placeholder':'Ex: GCC210147'}, {'name':''} }) }} #}
                </div>
                <div>
                    <label for="lastname" class="formbold-form-label"> Event/Activities: </label>
                    <select type="text" name="events" id="" placeholder="" class="formbold-form-input">
                        <option>Hung King memorial - A Spiritual return</option>
                        <option>Hung King memorial - A Spiritual return 2</option>
                        <option>Hung King memorial - A Spiritual return 3</option>
                        <option>Hung King memorial - A Spiritual return 4</option>
                        <option>Hung King memorial - A Spiritual return 5</option>
                    </select>
                </div> 
                <button class="formbold-btn">
                    ADD
                </button>
            </div>
            </form>
            {# {{ form_end(formname) }} #}
        </div>
        </div>
    <div class="border-table">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                <tr class="align-middle">
                    <th scope="col">Index</th>
                    <th scope="col" style="width:400px">Event/Activities</th>
                    <th scope="col">Date</th>
                    <th scope="col">Member ID</th>
                    <th scope="col">Member Name</th>
                    <th scope="col">Time in</th>
                    <th scope="col">Time out</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody class="table-striped">
                <tr class="align-middle">
                    <th scope="row">1</th>
                    <th>Hung King memorial - A Spiritual return</th>
                    <td>15-10-2022</td>
                    <td>GCC210147</td>
                    <td>Đặng Minh Đạt</td>
                    <td>18:00:00</td>
                    <td>20:00:00</td>
                    <td>
                        <a href=""><i style="color: #439a97d0;" class="bi bi-pencil-square"></i></a>
                        <a href=""><i style="color: #439a97d0;" class="bi bi-x-square"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <th>Event 2</th>
                    <td>17-08-2022</td>
                    <td>GCC210146</td>
                    <td>Trần Nguyệt Cần</td>
                    <td>18:00:00</td>
                    <td>20:00:00</td>
                    <td>
                        <a href=""><i style="color: #439a97d0;" class="bi bi-pencil-square"></i></a>
                        <a href=""><i style="color: #439a97d0;" class="bi bi-x-square"></i></a>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <th>Event 3</th>
                    <td>20-06-2022</td>
                    <td>GCC210017</td>
                    <td>Ngô Huỳnh Phúc</td>
                    <td>18:00:00</td>
                    <td>20:00:00</td>
                    <td>
                        <a href=""><i style="color: #439a97d0;" class="bi bi-pencil-square"></i></a>
                        <a href=""><i style="color: #439a97d0;" class="bi bi-x-square"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
        <button class="formbold-btn save">
            SAVE
        </button>

    {% include 'footer.html.twig' %}
{% endblock %}


