:root{
    --Orange_yellow: #FFC93C;
    --blue_light: #03e9f4;
    --blue_heavy: #2C74B3;
    --blue_neon: #5e98a2;
    --white: #ffffff;
    --black: #000000;
    --green_heavy_gradient:#227c7064;
    --green_light: #439a97d0;
    --Orange: #FF7000;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;    
}
nav.navbar{
    padding: 20px;
}
.head_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head_logo img{
    width: 17%;
}
.heading h4{
    font-family:'Quicksand', sans-serif !important;
    font-size: 50px;
    text-transform: uppercase;
}
.heading{
    padding: 30px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button.add {
    padding: 5px 8px;
    border: unset;
    border-radius: 15px !important;
    color: #212121;
    z-index: 1;
    background: var(--white);
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

button.add::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--blue_heavy);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
   
button.add:hover {
    color: var(--white);
}
   
button.add:hover::before {
    width: 100%;
}
.btn-show{
    display: grid;
    grid-template-columns: 50%;
    /* display: flex; */
    align-items: center;
    justify-content: left;
    padding: 10px 0 20px 12%;
} 
.cover{
    border: 3px solid var(--blue_heavy);   
    border-radius: 20px; 
    padding: 30px 30px 30px 30px;
    margin: 30px 50px 30px 50px;
}
.check-box{
    padding-top: 10px;
    display: flex;
}
.form-check{
    margin-left: 20px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
label.form-label{
    margin: auto;
}
.bigcol{
    background-color: none;
    padding: 5px 30px 5px 30px;
    border: 1px solid #2C74B3;
    border-radius: 8px;
    box-shadow: 4px 6px #00000016;
}
.heading h4{
    font-weight: 700 !important;
}

   
   