:root{
  --Orange_yellow: #FFC93C;
  --blue_light: #03e9f4;
  --blue_heavy: #2C74B3;
  --blue_neon: #5e98a2;
  --white: #ffffff;
  --black: #000000;
  --green_heavy_gradient:#227c7064;
  --green_light: #439a97d0;
  --Orange: #FF7000;

}
* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-size: 15px;
}
body {
  font-family: "Inter", sans-serif;
}
nav.navbar{
  padding: 20px;
}
.head_logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.head_logo img{
  width: 17%;
}
.formbold-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.formbold-form-wrapper {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: white;
  border: 2px solid var(--blue_neon);
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.formbold-input-flex {
  display: flex;
  /* gap: 20px; */
  margin-bottom: 15px;
}
.formbold-input-flex > div {
  width: 100%;
}
.formbold-input-flex label{
  font-weight: bold;
}
.formbold-input-radio-wrapper label{
  font-weight: bold;
}
.formbold-input-radio-wrapper {
  margin-bottom: 28px;
}
.formbold-radio-flex {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
.formbold-radio-label {
  font-size: 14px;
  line-height: 24px;
  color: #07074D;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.formbold-input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.formbold-radio-checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #FFFFFF;
  border: 1px solid #DDE3EC;
  border-radius: 50%;
}
.formbold-radio-label .formbold-input-radio:checked ~ .formbold-radio-checkmark {
  background-color: var(--blue_neon);
}
.formbold-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.formbold-radio-label .formbold-input-radio:checked ~ .formbold-radio-checkmark:after {
  display: block;
}

.formbold-radio-label .formbold-radio-checkmark:after {
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--white);
  transform: translate(-50%, -50%);
}

.formbold-form-input {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #DDE3EC;
  background: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  color: #07074D;
  outline: none;
  resize: none;
}
.formbold-form-input::placeholder {
  color: var(--green_heavy_gradient);
}
.formbold-form-input:focus {
  border-color: var(--blue_neon);
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}
.formbold-form-label {
  color: #07074D;
  font-size: 20px;
  line-height: 24px;
  display: block;
  margin-bottom: 10px;
}
.photo{
  font-size: 20px;
}
.formbold-btn {
  text-align: center;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  padding: 14px 25px;
  border: none;
  font-weight: 500;
  background-color: #2C74B3;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}
.formbold-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.big_title{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}

.container-fluid{
  padding: 0 4% 0 4% !important;
}
