{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('styles/footer.css')}}">
{% endblock %}

{% block body %}
<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
        <div class="row">
            <h4 class="title text-uppercase">Can Tho Campus</h4>
            <div class="col-md-5 col-sm-6">
                <!--Column1-->
                <div class="footer-pad">
                    <h4 class="text-uppercase">Greenwich Vietnam</h4>
                    <p><i class="bi bi-telephone-fill"></i><a> Phone: 0907 297 396</a></p>
                    <p><i class="bi bi-facebook"></i><a> Facebook: Greenwich Vietnam</a></p>
                    <p><i class="bi bi-telephone-fill"></i><a> Website: greenwich.edu.vn</a></p>
                    <p><i class="bi bi-geo-alt-fill"></i><a> Address: 160 30/4 Street, An Phu Ward, Ninh Kieu District, Cantho City, Viet Nam</a></p>
                </div>
            </div>
                <div class="col-md-3 col-sm-6">
                <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="text-uppercase">Contact information</h4>
                        <p>Email Admin: dangph5@fe.edu.vn</p>
                        <p>Phone Admin: 0336337022</p>
                        <p>Email Web Creater: 
                        datdmgcc210147@fpt.edu.vn phucnhgcc210017@fpt.edu.vn
                        
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                <!--Column1-->
                    <div class="footer-pad">
                        <h4 class="text-uppercase">About us</h4>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, dignissimos pariatur iste qui tenetur tempore voluptatibus neque architecto, modi, minus id nulla. A eos dignissimos eveniet aliquam nam! Possimus, dignissimos?</p>
                    </div>
                </div>
        </div>
                <div class="row">
                    <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright - Greenwich Vietnam | Can Tho Campus | All rights reserved.</p>
                    </div>
                </div>
        </div>
    </div>
</footer>
{% endblock %}