{% extends 'base.html.twig' %}
    
        {% block body %}
        <body>
                        <div class="head_logo">
                <img src="../images/2022-Greenwich-Eng.png" alt="Logo">
            </div>
            <nav class="navbar navbar-expand-lg justify-content-center" style="background-color: #2C74B3;">
                <a id="Logo" href="/homepage" class="navbar-brand">
                    Greenwich Clubs
                    <!-- <img src="../ASM2/Images/ESC Logo (1)-02.png" alt="" style="height: 50px; width: 50px;"> -->
                </a>
                <style>
                    *{
                        font-family:'Quicksand', sans-serif !important;
                    }
                    body{
                        font-weight: 500 !important;
                    }
                    #Logo.navbar-brand{
                        padding-left: 20px;
                    }
                    nav.navbar{
                        font-weight: 600;
                    }
                    nav.navbar{
                        padding: 20px;
                    }
                    .head_logo{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .head_logo img{
                        width: 270px;
                    }
                    a.second{
                        padding-left:10px; 
                    }
                </style>
                <button style="color:#000" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
                    <span class="bi bi-list"></span>
                </button>
                    <style>
                        .dropdown:hover .dropdown-menu{
                            display: block;
                        }
                        .navbar-toggler{
                            color: #000;
                        }
                    </style>

            <div class="collapse navbar-collapse justify-content-center" id="navbarMain">
                <div class="navbar-nav">
                    <a class="nav-link active" href="/homepage">Home</a>
                    <a href="/clubs" class="nav-link" style="color: #ffffff;">Clubs</a>
                    {% if is_granted("ROLE_ADMIN") %}
                        <a href="/members" class="nav-link" style="color: #ffffff;">Members</a>
                        <a class="nav-link" href="/check-in" style="color: #ffffff;">Check-in</a>
                    {% endif %}
                    <a class="nav-link" href="/attendance" style="color: #ffffff;">Attendance</a>
                    <a class="nav-link" href="/activities"style="color: #ffffff;">Activities</a>
                    <a class="nav-link" href="/account"style="color: #ffffff;">Account</a>
                </div>
            </div>
                {% if app.user %}
                    <a href="#" class="nav-item nav-link first">Welcome {{app.user.userIdentifier }} </a>  
                    <a href="{{path('Logout')}}" class="nav-item nav-link second">Logout</a>            
                {% endif %}
            </nav>


    </body>
        {% endblock %}
    
